[submodule "rwcpp"]
	path = rwcpp
	url = git@github.com:coredawg38/RetainingWall.git
[submodule "webui"]
	path = webui
	url = git@github.com:tps-reports/retaining_wall_ui.git
[submodule "mailio"]
	path = mailio
	url = git@github.com:karastojko/mailio.git
