[submodule "rwcpp"]
	path = rwcpp
	url = git@github.com:coredawg38/RetainingWall.git
[submodule "webui"]
	path = webui
	url = https://github.com/coredawg38/RetainingWallUI.git
[submodule "mailio"]
	path = mailio
	url = git@github.com:karastojko/mailio.git
